img {
  display: block;
  min-width: 100%;
  height: auto;
}

body {
  font-family: $main-font;
  background-color: $background-color;
  color: $title-color;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.section__no-padding-top {
  padding-top: 0;
}

.section__other-bg {
  background-color: $lightgrey-background-color;
}
