.features {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        justify-content: center;
        margin-bottom: -30px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.features__item {

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
        
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
            margin-left: 30px;
            width: calc((100% - 60px) / 2);
            margin-bottom: 30px;
        }

    @media screen and (min-width: $desktop) {
            width: 270px;
            margin-right: 30px;
        
            &:last-child {
                margin-right: 0;
            }
        }

}

.features__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;

    @media screen and (min-width: $tablet) {
        text-align: left;
    }
}

.features__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}



.features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: $lightgrey-background-color;
    border-radius: 4px;
}