.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $adress-text-color;
}

.join-us {
  margin-left: 70px;
}

.join-us__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $adress-text-color;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $light-text-logo;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $light-text-logo;
    background-color: $accent-color;
  }
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-form {
  width: 100%;
}

.subscribe {
  width: 570px;
  margin-left: auto;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-background-color;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-text-logo;
}

.subscribe-form__field {
  display: flex;
}

.subscribe-form__btn {
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: $filter-btn-text-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $btn-color-active;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: $background-color;
}
