.header {
  border-bottom: 1px solid $horizontal-header-line;
}



.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}


.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $header-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:last-child {
  margin-left: 50px;
}

.contacts__item:not(:last-child) {
  margin-left: 0;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__link--current {
  color: $accent-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}


