.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: $background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover .icon-close,
  &:focus .icon-close {
    fill: $accent-color;
  }
}

.icon-close {
  fill: rgb(0, 0, 0);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  padding-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  text-align: left;
  color: $secondary-text-color;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field span {
  position: relative;
}

.form-input:focus {
  border-color: $accent-color;
}

.form-input:focus + .input-icon {
  fill: $accent-color;
}

.comment-area:focus {
  border-color: $accent-color;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-input label {
  padding-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  text-align: left;
  color: $secondary-text-color;
}

.comment-area {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.callback {
  padding: 40px;
}

.send-btn {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-text-color;
  border: 0;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $btn-color-active;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  /*
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; ---*/
}

.checkbox-icon {
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .checkbox-icon {
  border-color: $accent-color;
}

.checkbox:checked + .checkbox-icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url("../images/icon-checked.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy-agreement label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.policy-link {
  margin-left: 4px;
  color: $accent-color;
}
