.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__text {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: $filter-btn-text-color;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;

    @media screen and (min-width: $tablet) {
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.portfolio__item {
    margin-bottom: 30px;
    background: $white-text-color;

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px) / 2);
        margin-left: 30px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 90px) / 3);
    }

}

.portfolio__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

        .overlay__text {
            transform: translateY(-100%);
        }
    }
}

.portfolio__box {
    padding: 20px 24px;
    border-left: 1px solid $portfolio-border-color;
    border-bottom: 1px solid $portfolio-border-color;
    border-right: 1px solid $portfolio-border-color;
}

.portfolio__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: $title-color;
}

.portfolio__text {
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}