.works__item {
    position: relative;
}

.works__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
    background-color: rgba(47, 48, 58, 0.8);
}

.works {
    display: flex;
}

.works__item:not(:last-child) {
    margin-right: 30px;
}