$background-color: #ffffff;
$header-text-color: #212121;
$title-color: #212121;
$hero-text-color: #ffffff;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$btn-color-active: #188ce8;
$horizontal-header-line: #ececec;
$dark-text-logo: #212121;
$light-text-logo: #ffffff;
$footer-background-color: #2f303a;
$filter-background-color: #f5f4fa;
$lightgrey-background-color: #f5f4fa;
$team-icons-color: #afb1b8;
$adress-text-color: rgba(255, 255, 255, 0.6);
$filter-btn-text-color: #ffffff;
$white-text-color: #ffffff;
$portfolio-border-color: #eeeeee;

$main-font: "Roboto", sans-serif;
$logo-font: "Raleway";
